<!DOCTYPE html>
<html>
<head>
	<title>| share ! server|</title>
	<link rel="stylesheet" type="text/css" href="static/main.css">
	<script type="text/javascript" src='static/vue.js'></script>
</head>
<body>
	<div id="topBarner" class="topBarner">
		<p class="outcast">S</p>hare
		<div class="items">
			<ul class="horizontalList">
				<li v-bind:class='{active:videos}' v-on:click="videos = true; documents = false; image = false">Videos</li>
				<li v-bind:class='{active:documents}' v-on:click="videos = false; documents = true; image = false">Documents</li>
				<li v-bind:class='{active:image}' v-on:click="videos = false; documents = false; image = true">Pictures</li>
			</ul>
		</div>
	</div>
	<div style="height:150px;"></div>
	<div v-show="video()" class="content" id="video">
		<% for(var i=0;i < videos.length;i++){%>
			<div class="module">
				<video src="/video/<%=videos[i].name%>"controls></video>
				<div class="videoDetails">
					<%=videos[i].name %>	
				</div>
			</div>
		<% } %>
	</div>
	<div v-show="false" class="content" id="documents">
		<% for(var i=0;i < documents.length;i++){%>
			<div class="module">
				<div class="videoDetails">
					<%=documents[i].name %>	
				</div>
			</div>
		<% } %>
	</div>
	<div v-show="image()" class="content" id="pictures">
		<% for(var i=0;i < pictures.length;i++){%>
			<div class="module">
				<img src="/pictures/<%=pictures[i].name%>"/>
				<div class="videoDetails">
					<%=pictures[i].name %>	
				</div>
			</div>
		<% } %>
	</div>
	<script src='static/dynamic.js'></script>
</body>
<script type="text/javascript" src="static/myvue.js"></script>
</html>