<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Browser Share</title>
        <link rel="stylesheet" type="text/css" href="static/containers.css">
        <style>
            body{
                background-image:url('static/Images/bg.jpg');
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="logo"></div>
            <ul class="navbar">
                <li onclick="show('videos','documents','pictures')">Videos</li>
                <li onclick="show('pictures','videos','documents')">Pictures</li>
                <li onclick="show('documents','videos','pictures')">Documets</li>
            </ul>
        </div>
        <div class="container" id="videos">
            <% for(var i=0;i < videos.length;i++){%>
                <div class="item">
                    <div><video src="db/<%= videos[i].path %>" controls/></div>
                    <div class="itemname"><h5><%=videos[i].filename%></h5></div>
                </div>
            <% } %>

        </div>

        <div class="pictures container" id="pictures">
            <% for(var i=0; i < pictures.length;i++){%>
                <div class="item">
                    <img src="db/<%=pictures[i].path%>" height="200px">
                </div>
            <% } %>
        </div>

        <div class="documents container" id="documents">
            <% for(var i=0;i < documents.length;i++){%>
                <div class="item">
                    <img class="fileIcon" src="static/Images/file.jpg"/>
                    <div class="fileDetails">
                        <h3><%=documents[i].filename%></h3>
                        <a href="db/<%=documents[i].path%>" download><button>Download</button></a>
                    </div>
                </div>
            <% } %>
        </div>

        <script src="static/containers.js"></script>
    </body>
</html>